body {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
  color: black;
}

.navbar {
  background-color: #F5F5F5;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#buttons_container {
  margin-bottom: 15px;
}
